


@media screen and (max-width:580px){
    .main {
        /* margin-top: 5rem; */
        display: flex;
        flex-direction: column;
        height: 1100px;
        width: 100%;
        /* background-color: aliceblue; */
       /* margin-left: 4rem; */
    }
    .main-intro {
        width: 100%;
        height: 1200px;
        /* margin: auto; */
    }

.main-intro h1 {
    margin-top: 15rem; 
   color: white; 
   /* width: 100%; */
   /* background-color: darkblue; */
}
.contact {
    height: 100vh;
    /* margin-bottom: 2rem; */
}

    .about-course  {
        margin-top: 250px;
    }

    .about-course h1 {
        font-size: 2rem;
        margin-top: 100px;
    }

    .course-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .course-box {
        width: 90%;
        height: 75vh;
        margin-left: 1rem;
        margin-top: 2rem;
    }
    .course-overview {
        width: 150%;
        height: 1100px;
        background: none;
    }

    .course-overview h2 {
        font-size: 1.5rem;
        margin-right: 5rem;
        /* color: darkblue; */
    }
    .course-overview p {
        margin-right: 6rem;
        font-size: 1.25rem;
    }

    .course-overview .container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        background: none;
    }

    .course-overview .container .box {
        height: 250px;
        margin-left: 1rem;
        margin-top: 0;

    }

    .career-services {
        /* margin-top: 50px; */
        margin-bottom: 2rem;
    }

    .container .box {
        margin: auto;
        /* margin-top: 0.5rem; */
    }
    .container2 .box {
        padding-bottom: 1rem;
        margin-top: 0.5rem;
 
    }
    .connect {
        margin-top: 700px;
        margin-left: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: 1rem; */
       
    }

    .connect a {
        display: inline-block;
        width: 200px;
        margin-right: 2rem;
        /* background:none;
        color: black; */
    }

    .connect p {
        font-size: 1.5rem;
    }
    #contactPage {
        /* width: 100px; */
        /* margin-right: 2rem; */
    }

    .container2 {
        height: 900px;
        display: flex;
        flex-direction: column;
        
    }
    .container2 .box {
       height: 400px;
    }

    .FAQ-heading {
        font-size: 2rem;
    }
}

/* media query for Tablet Devices */

@media screen and  (max-width:680px) and (min-width:580px){
   
    .main {
        display: flex;
        flex-direction: column;
    }

    .main-intro h1 {
        margin-top: 29rem;
    }
    .contact {
        height: 700px;
    }

    .about-course {
        margin-top: 500px;
    }
    .course-overview {
        /* height: 1000px; */
        background: none;
    }
    .course-container {
        display: flex;
        flex-direction: column;
    }
    .container {
        display: flex;
        flex-direction: column;
        background: none;
        
        /* justify-content: space-evenly;
        align-items: center;  */
         /* padding-top: 5rem; */
         /* background-color: #CAE0FE; */
    }
    .course-overview .container .box {
        margin-top: 100px;
        margin: auto;
        margin-bottom: 60px;
        padding-bottom: 1rem;

    }
    #box1 {
        margin-top: 400px;
    }
   
    .career-services {
        margin-top: 450px;
    }
    .container2 {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container2 .box {
       padding-bottom: 1rem;
    }
    #container2-box1 {
        margin-top: 10rem;
    }
    .career-services .career-intro {
        display: inline-block;
        /* margin-bottom: 200px; */
    }

    .connect {
        margin-top: 700px;
    }
 }